@use '../../../../../styles/index' as *;

.form {
  display: flex;
  width: 100%;
  margin-bottom: $space-6;

  border-radius: $radiusMd;
  overflow: hidden;
  box-shadow: $shadowSm;

  @include mq(sp) {
    margin-bottom: $space-4;
  }

  &__input:first-child {
    flex: 1;
    padding: $space-3 $space-4;

    border: 1px solid rgba($border, 0.3);
    border-right: none;

    font-size: $font-size-base;
    color: $sentence;
    background: $commonWhite;

    transition: border-color $transitionFast,
                box-shadow $transitionFast;

    &:focus {
      outline: none;
      border-color: $primary;
      box-shadow: inset 0 0 0 1px $primary;
    }

    @include mq(sp) {
      padding: $space-2 $space-3;
      font-size: $font-size-sm;
    }
  }

  &__input:last-child {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0 $space-6;
    min-width: 96px;

    border: none;
    background: $primary;
    color: $commonWhite;

    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    cursor: pointer;

    transition: background $transitionFast;

    &:hover {
      background: $primaryHover;
    }

    @include mq(sp) {
      padding: 0 $space-4;
      min-width: 80px;
      font-size: $font-size-xs;
    }
  }

    transition: background $transitionBase,
                transform $transitionFast;

    &:hover {
      background: $primaryHover;
    }

    &:active {
      transform: scale(0.97);
    }

    @include mq(sp) {
      padding: 0 $space-4;
      min-width: 80px;
      font-size: $font-size-xs;
    }
  }