.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeSelect, .soundPicker, .playerContainer {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.playerContainer {
  position: relative;
  & svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    pointer-events: none;
  }
}

.timeDisplay {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}
.video {
  position: fixed;
  top: 0%;
  left: 0%;
  // width: 100%;
  height: 100vh;
  z-index: -10;
}

.timeSelect button,
.soundPicker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.timeSelect {
  & button:hover {
    color: black;
    background: white;
  }
}
.soundPicker {
  & button {
    border: none;
    height: 120px;
    width: 120px;
    padding: 30px;
    border-radius: 50%;
  }
  & button:nth-child(1) {
    background: #4972a1;
  }
  & button:nth-child(2) {
    background: #a14f49;
  }
  & button img {
    height: 100%;
  }
}