@use '../../../styles/variables/mixin' as m;

.shogi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

  &__title {
    font-size: 2rem;
    margin-bottom: 20px;

    @include m.mq(sp) {
      font-size: 1.5rem;
    }
  }
}