@use '../../../styles/variables/mixin' as m;

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, minmax(80px, 100px));
  grid-template-rows: minmax(120px, auto) repeat(5, minmax(80px, 100px));
  gap: 10px;
  padding: 20px;

  @include m.mq(sp) {
    grid-template-columns: repeat(4, minmax(60px, 80px));
    grid-template-rows: minmax(100px, auto) repeat(5, minmax(60px, 80px));
    padding: 10px;
  }

  & > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    transition: background-color 0.2s;

    @include m.mq(sp) {
      font-size: 1.2rem;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.spanTwo {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 8px;

  & .previousOperand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2rem;

    @include m.mq(sp) {
      font-size: 1rem;
    }
  }

  & .currentOperand {
    color: white;
    font-size: 2rem;

    @include m.mq(sp) {
      font-size: 1.5rem;
    }
  }
}