$pageBg: rgb(250, 241, 241);
$secondaryBackground: #fffffe;
$footerBg: rgb(62, 73, 62);
$border: #cccccc;
$link: rgb(3, 73, 3);
$card: #3f3931;
$cardBg: rgba(255, 255, 254, 0.6);
$sentence: #3f3931;
$caption: #b2b2a2;

$round: 2rem;

$title: #0d4983;
$captionWeb: rgb(105, 132, 105);

// common color
$commonBlack: rgb(0,0,0);
$commonWhite: #ffffff;
$commonGreen: rgb(59, 77, 59);

$background: linear-gradient(to bottom, transparent, rgb(255, 255, 255), rgb(214, 219, 220) );

