@use '../tokens/colors' as c;
@use "sass:map";

$breakpoint: (
  sp: 'screen and (max-width: 450px)',
  tab: 'screen and (max-width: 700px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map.get($breakpoint, $bp)} {
    @content;
  }
}

@mixin sectionTitle() {
  font-size: 2.5rem;
    @include mq(tab) {
      font-size: 2rem;
    }
}
