@use '../../styles/tokens/typography' as typo;
@use '../../styles/tokens/layout' as l;
@use '../../styles/tokens/radius' as r;
@use '../../styles/tokens/effects' as e;
@use '../../styles/tokens/colors' as c;
@use '../../styles/mixins/mixin' as m;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: l.$maxWidth;
  width: 100%;
  font-family: typo.$fontMono;
  font-size: 0.85rem;
  & h1 {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: l.$maxWidth;
  max-width: 100%;
  gap: 1.25rem;

  @include m.mq(tab) {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }
}
