@use '../../../../styles/variables/variables' as v;

.todoItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid v.$border;
  background: v.$secondaryBackground;

  &__checkbox {
    margin-right: 10px;
  }

  &__text {
    flex: 1;
    font-size: 1rem;
    color: v.$sentence;
    transition: text-decoration 0.3s;
  }

  &__text--completed {
    text-decoration: line-through;
    color: #888;
  }

  &__delete {
    background: #ff4757;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #ff3742;
    }
  }
}