.item {
  background: #f4f4f4;
  padding: 0.75rem;
  border-bottom: 1px #ccc dotted;
  &__button {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    &:hover {
      background: #666666;
    }
  }
}