// Dark mode overrides
$foreground: rgb(255, 255, 255);
$backgroundStart: rgb(0, 0, 0);
$backgroundEnd: rgb(0, 0, 0);

$tileStart: rgb(2, 13, 46);
$tileEnd: rgb(2, 5, 19);

$calloutBg: rgb(20, 20, 20);
$calloutBorder: rgb(108, 108, 108);

// $cardBg: rgb(100, 100, 100);
$cardBorder: rgb(200, 200, 200);

// $primaryGlow: radial-gradient(
//   rgba(1, 65, 255, 0.4),
//   rgba(1, 65, 255, 0)
// );

// $secondaryGlow: linear-gradient(
//   to bottom right,
//   rgba(1, 65, 255, 0),
//   rgba(1, 65, 255, 0),
//   rgba(1, 65, 255, 0.3)
// );

// $tileBorder: conic-gradient(
//   rgba(255, 255, 255, 0.5),
//   rgba(255, 255, 255, 0.25),
//   rgba(255, 255, 255, 0.18),
//   rgba(255, 255, 255, 0.12),
//   rgba(255, 255, 255, 0.06),
//   rgba(255, 255, 255, 0.06),
//   rgba(255, 255, 255, 0.5)
// );